<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mooSettings" type ="Moo.Configuration.MappingConfigurationSection, Moo"/>
  </configSections>
  <appSettings>
    <add key="Dummy" value="Dummy"/>
  </appSettings>
  <mooSettings>
    <TypeMappings>
      <add SourceType="Moo.Demo.SampleClassA" TargetType="Moo.Demo.SampleClassB">
        <MemberMappings>
          <add SourceMemberName="ConfiguredPropertyA" TargetMemberName="ConfiguredPropertyB" />
        </MemberMappings>
      </add>
    </TypeMappings>
  </mooSettings>  
</configuration>